body {
 background-image: url('background.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 margin: 0;
 font-family: sans-serif;
}

.content {
 max-width: 700px;
 margin: 40px auto;
 background: rgba(255, 255, 255, 0.055);
 padding: 20px 25px;
 border-radius: 8px;
}

h1 {
 text-align: center;
 color: #203060;
}

h2 {
 color: #a02c2c;
 margin-top: 25px;
}

ul {
 margin-left: 18px;
}

p {
 line-height: 1.5;
 font-size: 16px;
}
